# AWS Configuration
AWS_PROFILE=immersion
AWS_REGION=us-east-1

# DynamoDB Configuration
DYNAMODB_TABLE_PREFIX=lms
DYNAMODB_ENDPOINT_URL=http://localhost:8000

# S3 Configuration
S3_BUCKET_NAME=lms-static-data

# Local Development
LOCAL_DEVELOPMENT=true
LOG_LEVEL=DEBUG
